{{define "service"}}
<a href="{{$.Url}}"
  class="backdrop-blur-md bg-neutral-300/40 hover:bg-neutral-200/40 duration-100 dark:bg-neutral-600/40 dark:hover:bg-neutral-500/40 p-3 rounded shadow-lg">
  <div class="flex flex-row items-center gap-4">
    <img src="https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/svg/{{.Icon}}" class="h-8 w-8">
    <div class="flex flex-col gap-1 text-neutral-50">
      <h2 class="text-md">{{$.Name}}</h2>
      <h3 class="text-xs">{{$.Description}}</h3>
    </div>
  </div>
</a>
{{end}}