{{template "main" .}}
{{define "content"}}
<section class="select-none">
  <h1 class="text-neutral-100/95 retro text-2xl font-semibold select-none">
    {{.ServerName}}
  </h1>

  <hr class="h-[2px] my-4 bg-neutral-200/50 border-0 dark:bg-gray-700">

  <h3 class="text-xl text-neutral-100/95 my-4">
    Media
  </h3>
  <div class="grid grid-cols-4 gap-4 mb-4">
    {{range $_, $element := .Media}}
    {{template "service" $element}}
    {{end}}
  </div>

  <h3 class="text-xl text-neutral-100/95 my-4">
    *Arr
  </h3>
  <div class="grid grid-cols-4 gap-4 mb-4">
    {{range $_, $element := .Arr}}
    {{template "service" $element}}
    {{end}}
  </div>

  <h3 class="text-xl text-neutral-100/95 my-4">
    Downloaders
  </h3>
  <div class="grid grid-cols-4 gap-4 mb-4">
    {{range $_, $element := .Downloaders}}
    {{template "service" $element}}
    {{end}}
  </div>

  <h3 class="text-xl text-neutral-100/95 my-4">
    System
  </h3>
  <div class="grid grid-cols-4 gap-4 mb-4">
    {{range $_, $element := .System}}
    {{template "service" $element}}
    {{end}}
  </div>

</section>
{{end}}