{{template "main" .}}
{{define "content"}}
<section class="select-none">
  <h1 hx-trigger="load, every 3.5s" hx-get="/api/topFmt" class="text-neutral-100/95 retro font-semibold select-none">
    CPU: 8%
  </h1>

  <hr class="h-[2px] my-4 bg-neutral-200/70 dark:bg-neutral-600/70 border-0">

  {{range $title, $services := .Services}}
  <h3 class="text-xl text-neutral-100/95 my-4">
    {{$title}}
  </h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 mb-4">
    {{range $_, $element := $services}}
    {{template "service" $element}}
    {{end}}
  </div>
  {{end}}

</section>
{{end}}